
p{
 
	font-weight: bold;
	font-family: 'Ultra', sans-serif;   
  font-size: 16px;
  font-style: italic;
  line-height: 30px; 
	font-variant: capitalize;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color:  #4d092b;
  border: none;
  color: white;
  padding: 10px 32px;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 2px;
  cursor: pointer;
  border: 2px solid rgb(15, 14, 14);
  border-radius: 6px;
}
.header {
  padding: 10px;
  text-align: center;
  background: #4d092b;
  color: white;
  font-size: 30px;
}
.header1 {
  padding: 5px;
  text-align: left;
  color: #4d092b;
  background-position:left;
  font-size: 20px;
  font-family: 'Ultra', sans-serif;  
}
#auction {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

#auction td, #auction th {
  border: 1px solid #ddd;
  padding: 8px;
}

#auction tr:nth-child(even){background-color: #f2f2f2;}

#auction tr:hover {background-color: #ddd;}

#auction th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:  #7c1350;
  color: white;
}
#auction td:nth-of-type(1) {
 padding-right: 100px;
 }
 .form-style-5{
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
	border: none;
}
.form-style-5 legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.form-style-5 label {
	display: block;
	margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 3px;
	font-size: 13px;
	margin: 0;
	outline: 0;
	padding: 8px;
	width: 80%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
	background: #d2d9dd;
}
.form-style-5 select{
	-webkit-appearance: menulist-button;
	height:35px;
}
.form-style-5 .number {
	background: #3a131b;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 20px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #3a131b;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #3a131b;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
	background: #7c1350;
}
